* {
  font-family: "Signika Negative", sans-serif, serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




/*--------HEADER ELEMENTS/CLASSES--------*/
.header-wrapper{
   background-image: url(../afbeeldingen/lelystad3.jpg);
   background-size: cover;
   background-blend-mode: luminosity;
}

 header {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.3);
   min-height: 200px;
 }

 h1 {
   font-size: 6rem;
   letter-spacing: 0.1rem;
   color: white;
   padding: 20px 0;
 }

 /*--------content below header--------*/

.content-wrapper {
padding-top: 50px;
}

 /*--------ASIDE ELEMENT--------*/
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../afbeeldingen/back1.jpg);
  background-blend-mode: luminosity;
  background-color: rgba(247, 251, 194, 0.4);
}

h4 {
  font-size: 2rem;
}

aside ol {
  list-style: upper-roman;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
}

aside ol li {
  margin-top: 30px;
  font-weight: bold;
  padding-left: 10px;
}

li::marker {
  content: url(../afbeeldingen/list1.png);
  margin-left: 20px;
}

/*--------MAIN ELEMENT--------*/
main {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 0 30px 30px 30px;
  background-image: url(../afbeeldingen/back1.jpg);
  background-size: cover;
  background-blend-mode: luminosity;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

img {
  width: 100%;
  margin-top: 30px;
}

.artikel1 {
  margin-bottom: 50px;
}



/*--------MediaQuery--------*/

@media screen and (min-width: 992px) {
  .content-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  aside h4 {
    margin-left: 10px;
  }

  h2 {
    font-size: 2.5rem;
  }

  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
  }


  h3 {
    grid-row: 1 / 1;
    grid-column: 1 / span 3;
  }

  article p {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    line-height: 1.4;
  }

  img {
    width: 300px;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    margin-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    justify-self: center;
    margin-top: 0;
  }

  /*--------FLUID GRID WAARDES--------*/

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  }

}
